.game {
  width: 320px;
  height: 320px;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  border: solid black 1px;
  padding: 10px;
  background-color: white;
}

.top {
  text-align: center;
}
.top > h2 {
  font-size: 17px;
}

#question{
  text-align: center;
}

.mid {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  letter-spacing: 5px;
  font-size: 20px;
}
.mid input {
  width: 70%;
  margin: auto;
  text-transform: uppercase;
  text-align: center;
  font-size: 15px;
  outline: none;
  text-align: center;
  border-radius: 10px;
  padding: 5px;
}
.bottom button {
  padding: 10px 20px;
  border-radius: 20px;
  box-shadow: 2px 2px black;
  border: none;
  background-color: #003b73;
  outline: none;
  color: white;
  cursor: pointer;
}
.bottom button:hover {
  background-color: rgb(40, 79, 252);
}

#result {
  color: white;
  font-size: 20px;
  width: 350px;
  margin: auto;
  text-align: center;
}
