body {
    font-size: 10px;
  }
  .game {
    width: 50em;
    height: 50em;
    margin: 0px auto 50px auto;
    background-color: white;
    border-radius: 10px;
  }
  
  #head {
    text-align: center;
    font-size: 2em;
    margin: 1em;
  }
  
  #game-container {
    display: flex;
    justify-content: space-evenly;
    margin: 1em 0;
  }
  
  #user,
  #comp {
    width: 23em;
    height: 23em;
    padding: 1em;
  }
  
  #choice {
    display: flex;
    justify-content: space-evenly;
    margin: 2em;
  }
  
  .choice-btn {
    font-size: 1.7em;
    padding: 1em;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    outline: none;
  }
  
  .rock {
    background-color: #536162;
    color: white;
  }
  
  .scissor {
    background-color: #ce1212;
    color: white;
  }
  
  .paper{
    background-color: #e5b17f;
  }
  
  #result {
    text-align: center;
    font-size: 2em;
    margin: 0;
    margin-top: 1.3em;
  }
  
  #score {
    display: flex;
    justify-content: space-evenly;
  }
  
  #user-score,
  #comp-score,
  .score-counter {
    font-size: 1.5em;
  }
  
  #user-choice,
  #comp-choice {
    width: 16em;
    padding: 4em 0;
  }
  
  #user-choice {
    transform: scaleX(-1) rotate(270deg);
  }
  
  #comp-choice {
    transform: rotate(270deg);
  }
  
  .animate {
    animation: move 800ms paused ease-in-out infinite;
  }
  
  .rev-animate {
    animation: rev-move 800ms paused ease-in-out infinite;
  }
  
  @keyframes move {
    0%,
    100% {
      transform: translateY(-5em) rotate(90deg) scaleX(-1);
    }
    20%,
    60% {
      transform: translateY(-1em) rotate(90deg) scaleX(-1);
    }
    40% {
      transform: translateY(3em) rotate(90deg) scaleX(-1);
    }
  }
  
  @keyframes rev-move {
    0%,
    100% {
      transform: translateY(-5em) rotate(270deg);
    }
    20%,
    60% {
      transform: translateY(-1em) rotate(270deg);
    }
    40% {
      transform: translateY(3em) rotate(270deg);
    }
  }
  
  @media only screen and (max-width: 500px) {
    body {
      font-size: 9px;
    }
    .btn {
      font-size: 1.5em;
    }
  }
  
  @media only screen and (max-width: 450px) {
    body {
      font-size: 7px;
    }
  }
  
