.game{
    width: 350px;
    height: 525px;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%,10%);
    position: absolute;   
    margin-bottom: 50px;
}

.sky{
    width: 350px;
    height: 437.5px;
    background-image: url("https://res.cloudinary.com/vighnesh/image/upload/v1618224517/flappy/sky_ji5wdq.jpg");
    background-position: center;
    background-size: cover;
}

.ground{
    width: 350px;
    height: 87.5px;
    background-image: url("https://res.cloudinary.com/vighnesh/image/upload/v1618224517/flappy/groud_rmebmb.jpg");
    background-size: cover;
    z-index: 3;
    position: absolute;
    animation: slide 2.5s infinite linear;
}

@keyframes slide{
    0%{
        background-position-x:400px;
    }
    100%{
        background-position-x: 0px;
    }
}

.bird{
    background-position: center;
    background-image: url("https://res.cloudinary.com/vighnesh/image/upload/v1618224517/flappy/bird_jwpf0n.png");
    background-size: cover;
    width: 50px;
    height: 35px;
    position: absolute;
    left: 100px;
}

.pipe{
    background-color: transparent;
    background-image: url('https://res.cloudinary.com/vighnesh/image/upload/v1618224517/flappy/pipe2_y8r9zv.png');
    background-position: center;
    background-size: cover;
    width: 50px;
    height: 250px;
    position:absolute;
}

.topPipe{
    background-color: transparent;
    background-image: url('https://res.cloudinary.com/vighnesh/image/upload/v1618224517/flappy/pipe2_y8r9zv.png');
    background-position: initial;
    background-size: cover;
    width: 50px;
    height: 250px;
    transform: rotate(180deg);
    position: absolute;

}

#score{
    position: absolute;
    left: 260px;
    font-size: 15px;
    color: white;
    z-index: 10;
}

#play {
    width: 100%;
    float: left;
    clear: both;
    color: white;
    font-size: 130px;
    text-align: center;
    margin: 100px auto;
}

#bottom-block{
    width: 100%;
    height: 10%;
    position: absolute;
    bottom: -330px;
}